* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** {
  outline: 2px solid blue;
}*/


/*header*/
header {
  background-color: #FF9A4B;
  width: 100%;
  height: 50px;
}


/*main*/
.main {
  display: flex;
  width: 960px;
  margin: 50px auto;
  justify-content: space-between;
}

.main_box_inner {
  padding: 10px;
}

.main_box_inner span {
  background-color: #FF9A4B;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.main_box {
  width: 300px;
  background-color: #EEEEEE;
  position: relative;
}

.main_img1,
.main_img2,
.main_img3 {
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.main_img1 {
  background-image: url(./img/flow01.png);
}

.main_img2 {
  background-image: url(./img/flow02.png);
}

.main_img3 {
  background-image: url(./img/flow03.png);
}

h3 {
  padding: 15px 0 5px 0;
}


/*footer*/
footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}


/*メディアクエリ*/
@media screen and (max-width:769px) {
  .main {
    display: block;
    width: 100%;
  }
  .main_box {
    margin: 0 auto 20px auto;
    width: 90%;
  }
  .main_box:last-child {
    margin-bottom: 0;
  }
}